/* CSS Document */

#headerContainer{
	    margin: 30px;
		position:relative;
		top:auto;
		
}
.centerContainer{
	height:auto;	
}
#missioncontainer{
	width:900px;
	background-image:url(../../image/mission.jpg);
	background-repeat:no-repeat;
    background-position: top center !important;
	height:770px;
	font-family: 'Libre Franklin', sans-serif;
}
.contentContainer {
    display: inline-block;
    width: 100%;
    height: auto;
}
.input{
	background-color:white;
	    border-radius: 5px;
    border-color: transparent;
    padding: 1em;
	width: 90%;
    display: block;
}
#submitButton{
	    border-radius: 5px;
    border-color: transparent;
    padding: 1em;
	vertical-align: text-bottom;
}
.carouselImageContainer{
	display:inline-block;	
}
.richEditor {
    width:49%;
	display:inline-block; !important
}
/**
.richEditor .html-active{
	/*top: -435px;
}
.wp-editor-wrap{

}
**/
.wpfooter{
	display:none;
}
.imageOverlay{
	display:none;
}