/* CSS Document */
body{
	background-image: url(../image/farolDOC.png);
    background-repeat:no-repeat;
     background-position: top center !important;
    background-attachment: fixed !important;
}
}
