/* CSS Document */
#background{
	background-image: url(../image/cenario+deck.png);
    background-repeat:no-repeat;
    background-position: top center !important;
    /*background-attachment: fixed !important; */
	height: 100%;
    width: 100%;
    position: fixed;
    top: 113px;
}
html, body{
  height:100%;
  margin:auto;
}
#content{
	position:absolute;
	top:118px;
	width: 100%;	
}
#home{
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	font-style: italic;
	font-size:32px;
	width:70%;
	height: 719px;
	margin: 0 auto;
	position:relative;
	text-align:center;
}
#textTopLine{
	margin-top:20px;
}
#textBottomLine{
	margin-top:20px;
}
#welcome{
	position:absolute;
	bottom: 20%;	
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Libre Franklin', sans-serif;
	font-size:1.70em;
	color:rgba(255,255,255,1.00);
	font-weight:bold;
	font-style:normal;
}
.container{
	text-align:center;
	position:relative;
}
#aboutUs.container{
	background-color:rgba(255,255,255,0.81);
	font-family: 'Libre Franklin', sans-serif;
	padding-bottom:40px;
	padding-top:20px;
}
.contentContainer{
	display:inline-block;
	width:75%;
}
.titlePart{
	font-family: 'Libre Franklin', sans-serif;
	margin-top:20px;
	margin-bottom:20px;
	font-weight: bold;
	font-size:25px;
}
#mission.container{
	background-image:url(../image/ushuaia.png);
	background-repeat:no-repeat;
    background-position: top center !important;
	height:550px;
	font-family: 'Libre Franklin', sans-serif;
}
#missionText{
	position:absolute;
	bottom:60px;
	margin-left:20px;
	margin-right:20px;
	width:73%;
	color:#FFFFFF;
	text-align:left;
}
#whatWeDo.container{
	background-color:rgba(255,255,255,0.78);
	
	min-height:870px;
}
#whatWeDoFloatersContainer{
	/*max-width */
}
.floater{
    width: 300px;
    display: inline-block;
    margin: 20px;
	font-family: 'Libre Franklin', sans-serif;
	 vertical-align:top;
}
.floaterTitle{
	font-size:20px;
	font-weight:bold;
	margin-top:15px;
	color:#004c7a;
	margin-bottom:20px;
}
.floaterIcon{
	height:115px;	
}
#whoWeAre.container{
	background-color:#FFFFFF;
	font-family: 'Libre Franklin', sans-serif;
	padding-bottom:40px;
	padding-top:20px;
}
#whoWeAreFloatersContainer{
	text-align:left;
}

.person{
    display: inline-block;
    width: 510px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
	vertical-align:top;
}

.personPhoto{
	display:inline-block;
	padding-right:10px;	
}

.personText{
	display: inline-block;
    width: 320px;
}

.personSocialContainer a{
	margin:5px;
}
.personSocialContainer a:first-of-type{
	margin-left:0px;	
}
/**/
.personName{
	font-size:22px;	
}
.personJob{
	font-size:12px;
}
.personDescription{
	margin-top:12px;
}

#news.container{
	background-color:rgba(221,221,221,1);	
}