/* CSS Document*/
html, body{
  height:100%;
  margin:auto;
}
#headerContainer{
	width:100%;
	position:fixed;
	top: 0;
	z-index:100;
}
#headerTop{
	background-color:#d4e7e6;
	height: 90px;	/* size of logo image + a few pixels */
	position:relative;
	text-align:center;
}
#logoContainer{
	height: 193px; /* size of logo image */
	position:absolute;
	top:-21px;
}
.logoSpan{
	width:115px; /* size of logo image */
	display:inline-block;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
}
#nameContainer{color:#004c7a;
}
#headerBottom{
		background-color:#d4e7e6;
	text-align:center;
}
.centerContainer{
	width:90%;
	height:100%;
	display:inline-block;
	text-align:left;
}
#menuContainer{
	float:right;
	font-family: 'Libre Franklin', sans-serif;
	font-size:0.96em;
	color:#0085a6;
}
#menuContainer span{
	margin-left:20px;
	margin-right:20px;	
}
#menuContainer span:last-of-type{
	margin-right:0px;	/* same as socialContainer*/
}
#floatContainer{
	float:right;
	height:100%;

}
#languageContainer,#socialContainer{
	margin-top: 28px;
    margin-left: 53px;
	display:inline-block;
}
#socialContainer{
	margin-right:0px; /* same as #menuContainer span:last-of-type*/
}
#socialContainer img{
	margin-left:10px;
}
#languageContainer img{
	margin-left:10px;
}

