.newsFloaterContainer{
    max-width: 300px;
    margin-right: 20px;
	margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
	text-align:left;
	font-family: 'Libre Franklin', sans-serif;	
}
#imageNewsContainer{
	margin-top:50px;
}
.container {
    text-align: center;
    position: relative;
}
.contentContainer{
	display:inline-block;
	width:75%;
}
.thumbnail{
	height:220px;
}
.dateNews{
	font-size:0.8em;
}
.newsTitle a{
	text-decoration:none;
	font-weight:bold;
	color:blue;
}
.newsText{
	font-size:0.9em;
	color:rgba(77,76,76,1.00);
}